html {
  box-sizing: 'border-box';
  
}

body {
  background-image: url('../assets/xmen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed



}
#input-parent {
  width: 160px;
  margin: 5% auto 50px;
  position: relative;
}
#player-input {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid;
  font-size: 75px;
  background-color: rgba(128,128,128,.5);
  color: white;
}
#submit {
  position: absolute;
  top: 130px;
  left: 130px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.guess
{
  display: inline;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 60px;
  padding: 0 25px;
  background-color: rgba(128,128,128,.5);
  color: white;


}  
.center 
{
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}

img {
  display: inline;
  width: 300px;
  height: 100px;
}
#footer {
  width: 100%;
  border-top: solid 2px white;
  background-color: rgba(128,128,128,.75);
  position: fixed;
  bottom: 0;
  color: white;
}
